#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    color: #695EE0; 
    font-family: 'Trebuchet MS', sans-serif;
    border: 1px solid #695EE0; 
    padding: 5px; 
    
}